/* universal styles */

html{
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgb(78, 76, 76);
    background-color:gold;
    
}

p {
    line-height: 1.3;
    font-size:0.9rem;
    padding:0.5rem 0;
    background-color:rgb(221, 50, 221);
}

/* header section and nav */


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height:4rem;
    max-width:100%;
    padding: 0 1.5rem;
    position:fixed;
    top:0;
    z-index:1;
    background-color:white;
    border-bottom: 1px solid black;
}

.logo{
    display: flex;
    align-items: center;
    height: 2rem;
    color:grey;
   
}

.logo span {
    color:black;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

nav span a {
    color:black;
    text-decoration: none;
    margin-left:1rem;

}

#mobile{
    display:none;
   
}

@media only screen and (max-width:450px){
    header{
        justify-content: none;
    }
    .logo{
        display:none;
    }
    #desktop{
        display:none;
    }
    #mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

}
/* banner section */

.main-banner{
    display: flex;
    margin-top:4rem;
    background-color:rgb(223, 222, 222);
    
}

.bannerimage{
    width:60%;
    margin:2rem 1.5rem;

}

.bannerimage img { 
    width:100%;
}

.bannertext{
    display:flex;
    flex-direction:column;
    justify-content: center;
    box-sizing:border-box;
    padding:2rem 1rem;
    width:40%;
    background-color:pink;
}

.bannertext .text{
    width:75%;
    background-color: aquamarine;
}

.bannertext h1{
    font-size:2rem;
    font-weight: 1000;
    margin-bottom:2rem;
}

button{
    color:white;
    background-color:grey;
    font-size:1.25rem;
    border: 1px solid black;
    padding: 0.5rem 0;
    margin-top:2rem;
}

@media only screen and (max-width:450px){

    .main-banner{
        flex-direction:column
    }

    .bannerimage{

        width:100%;
        padding:0;
    }

    .bannertext{
        box-sizing: border-box;
        width:100%;
        padding:1rem;
    }

}

/* campus information section */
/* main section */

.campus-information{
    display:flex;
}


.quote {
    display:flex;
    flex-direction:column;
    background-color:lightseagreen;
    margin:2rem 1.5rem;
    width:60%;
    
}

.quote img{
    object-fit:contain;
    max-width:100%;
    padding-bottom:2rem;
}

.quote .text{
    padding-right:2rem;
}

.quote h2{
    color:rgb(78, 76, 76);
    font-size:2rem;
    font-weight: 700;
    padding-bottom:1.5rem;
}
.quote p{
    padding:0;
    margin-bottom:3rem;
}

@media only screen and (max-width:450px){

    .campus-information{
        flex-direction: column;
    }

    .quote{
        display:none;
    }


}

/* links */

.information {
    display:flex;
    flex-direction:column;
    width:40%;
    padding-top:1rem;
    background-color:lightsalmon;
    border-left:1px solid black;
}

.info{
    display:flex;
    background-color:lightblue;
    padding:1rem;
    max-width:100%;
    border-bottom:1px solid black;
}

.info img{
    align-self: flex-start;
    object-fit: contain;
    height:auto;
    width:35%;
}

.info .text{
    width:65%;
    padding-left:1rem;
    background-color:pink;
    
}



.lecture{
    background-color:rgb(223, 222, 222);
}

@media only screen and (max-width:450px){

    .information{
        padding:0;
        border:none;
        height:auto;
        width:100%;
    }
    
    .info{
        padding:1rem;
        box-sizing: border-box;
        flex-direction: column;
        height: 50%;
        max-width:100%;
        border:none;
    }

    .info img{
        display:flex;
        margin:0;
        height:auto;
        max-width: 100%;
        object-fit:contain;
    }
   
}


/* courses section */

.courses{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    padding:2rem 4.5rem;
    max-width:100%;
    background-color: aquamarine;

}

.row{
    display: flex; 
    border:1px solid red;
    margin-top:2rem;
    max-width: 100%;
}

.row .course:nth-of-type(2){
    margin-left:2rem;
    margin-right:2rem;
}

.course{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    height:auto;
    width:31%;
    background-color: olive;
    padding-bottom:1.5rem;
    border: 1px solid black;
}

.courses img {
    height:auto;
    max-width: 100%;
    object-fit: contain;
    padding-bottom:1rem;
   
}

.course .text {
    padding-left:1rem;
    background-color:red;
   
}

.course span{
    font-size: 0.80rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}



@media only screen and (max-width:450px){

    .courses{
        display:none;
    }

}
/* exibit section */

.exhibit{
    padding-top:2rem;
}

.exhibit h2{
    text-align:center;
}

.thesis{
display:flex;
}

/* video column */
.main{
    width:60%;
    margin: 2rem 1.5rem;
}

.main video{
    max-width:100%;
    padding-bottom:1.5rem;
}
.main h3{
    padding-bottom:0.5rem;
}
.main p{
    padding:0;
    padding-right:2rem;
}

@media only screen and (max-width:450px){

    .thesis{
        padding:0;
    }
    .main{
    width:100%;
    }
    .main video{
    max-width:100%;
    }
    .main h3,.main p{

    display:none;
    }
}

/* side projects column */
.side{
    padding-top:2rem;
    width:40%;
}

.project{
    display:flex;
    padding:1rem;
    border:1px solid black;
}


.project img{
    align-self: flex-start;
    object-fit: contain;
    width:35%;
}

.project .text{
    width:65%;
    padding-left:1rem;
    background-color:skyblue;
}

@media only screen and (max-width:450px){

    .side{
        display: none;
    }


}
/* footer section */

footer{
    display:flex;
    justify-content: space-between;
    padding-top:1rem;
    padding-left:1.5rem;
    height:4rem;
    background-color:orange;

}
footer a{
    align-self: flex-start;
    padding-right:1rem;
}